@import "Shared";

.form {
  display: flex;
  flex-direction: column;
  &__input {
    background: none;
    border: none;
    border-bottom: 2px solid $color-grey;
    color: $color-grey;
    font-size: 1.1rem;
    outline: none;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0.4rem;
    position: relative;
    width: 100%;
    border-radius: 10px 10px 0 0;

    &:focus {
      @include border-shadow;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    color: $color-blue;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__icon {
    font-size: 3rem;
    color: $color-blue;
    align-self: center;
    margin: 1rem;
  }

  &__button {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    border: none;
    background-color: $color-blue;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  &__error {
    color: $color-grey;
    text-transform: none;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}

.login, .register {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__form {
    margin: 2rem;
  }
  &__image-block {
    width: 50%;
    position: relative;
    @include border-shadow
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text {
    position: absolute;
    left: 30%;
    top: 45%;
    background-color: rgba(0,0,0,0.7);
    padding: 0.3rem 2rem 0.3rem 2rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Raleway, sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .login, .register {
    flex-direction: column;
    &__image-block {
      width: 100%;
      height: 35vh;
    }
  }
  .register {
    flex-direction: revert;
  }
}